        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        
        <li>
            <!--<a href="#/ui"><i class="fa fa-magic"></i><span data-translate="UI_KIT"></span></a>-->
            <!-- <a href="#/ui"><i class="fa fa-magic"></i><span data-translate="Project Forms"></span></a>
            <ul>
                <li><a href="#/ui/buttons"><i class="fa fa-caret-right"></i><span data-translate="BUTTONS"></span></a></li>
                <li><a href="#/ui/typography"><i class="fa fa-caret-right"></i><span data-translate="TYPOGRAPHY"></span></a></li>
                <li><a href="#/ui/widgets"><i class="fa fa-caret-right"></i><span data-translate="WIDGETS"></span> <span class="badge badge-success">13</span></a></li>
                <li><a href="#/ui/grids"><i class="fa fa-caret-right"></i><span data-translate="GRIDS"></span></a></li>
                <li><a href="#/ui/icons"><i class="fa fa-caret-right"></i><span data-translate="ICONS"></span></a></li>
                <li><a href="#/ui/components"><i class="fa fa-caret-right"></i><span data-translate="COMPONENTS"></span> <span class="badge badge-danger">18</span></a></li>
                <li><a href="#/ui/timeline"><i class="fa fa-caret-right"></i><span data-translate="TIMELINE"></span></a></li>
                <li><a href="#/ui/nested-lists"><i class="fa fa-caret-right"></i><span data-translate="NESTED_LISTS"></span></a></li>
                <li><a href="#/ui/pricing-tables"><i class="fa fa-caret-right"></i><span data-translate="PRICING_TABLES"></span></a></li>
                <li><a href="#/ui/maps"><i class="fa fa-caret-right"></i><span data-translate="MAPS"></span>  <span class="badge badge-warning">2</span></a></li> -->
                <!-- <li><a href="#/pages/signin"><i class="fa fa-caret-right"></i><span data-translate="signin"></span></a></li> -->
                <li><a href="#/ui/users"><i class="fa fa-caret-right"></i><span data-translate="Users"></span></a></li>
                <li><a href="#/ui/Status_Master"><i class="fa fa-caret-right"></i><span data-translate="Status Master"></span></a></li>
                <li><a href="#/ui/Project_Master"><i class="fa fa-caret-right"></i><span data-translate="Project Master"></span></a></li>
                <li><a href="#/ui/Project_Component_Master"><i class="fa fa-caret-right"></i><span data-translate="Project Component Master"></span></a></li>
                <li><a href="#/ui/Project_Task_Details"><i class="fa fa-caret-right"></i><span data-translate="Project Task Details"></span></a></li>
            </ul>
        </li>
        <li>
          <!--   <a href="#/pages"><i class="fa fa-file-text-o"></i><span data-translate="PAGES"></span></a>
            <ul>
                <li><a href="http://iarouse.com/admin-transform-alt/landing/index.html" target="_blank"><i class="fa fa-caret-right"></i><span data-translate="LANDING_PAGE"></span></a></li>
                <li><a href="#/pages/signin"><i class="fa fa-caret-right"></i><span data-translate="SIGN_IN"></span></a></li>
                <li><a href="#/pages/signup"><i class="fa fa-caret-right"></i><span data-translate="SIGN_UP"></span></a></li>
                <li><a href="#/pages/forgot-password"><i class="fa fa-caret-right"></i><span data-translate="FORGOT_PASSWORD"></span></a></li>
                <li><a href="#/pages/lock-screen"><i class="fa fa-caret-right"></i><span data-translate="LOCK_SCREEN"></span></a></li>
                <li><a href="#/pages/profile"><i class="fa fa-caret-right"></i><span data-translate="USER_PROFILE"></span></a></li>
                <li><a href="#/pages/404"><i class="fa fa-caret-right"></i>404 <span data-translate="ERROR"></span></a></li>
                <li><a href="#/pages/500"><i class="fa fa-caret-right"></i>500 <span data-translate="ERROR"></span></a></li>
                <li><a href="#/pages/blank"><i class="fa fa-caret-right"></i><span data-translate="BLANK_PAGE"></span></a></li>
                <li><a href="#/pages/invoice"><i class="fa fa-caret-right"></i><span data-translate="INVOICE"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/table"><i class="fa fa-table"></i><span data-translate="TABLES"></span></a>
            <ul>
                <li><a href="#/tables/static"><i class="fa fa-caret-right"></i><span data-translate="STATIC_TABLES"></span></a></li>
                <li><a href="#/tables/responsive"><i class="fa fa-caret-right"></i><span data-translate="RESPONSIVE_TABLES"></span></a></li>
                <li><a href="#/tables/dynamic"><i class="fa fa-caret-right"></i><span data-translate="DYNAMIC_TABLES"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/form"><i class="fa fa-pencil"></i><span data-translate="FORMS"></span></a>
            <ul>
                <li><a href="#/forms/elements"><i class="fa fa-caret-right"></i><span data-translate="FORM_ELEMENTS"></span> <span class="badge badge-warning">14</span></a></li>
                <li><a href="#/forms/validation"><i class="fa fa-caret-right"></i><span data-translate="FORM_VALIDATION"></span></a></li>
                <li><a href="#/forms/wizard"><i class="fa fa-caret-right"></i><span data-translate="FORM_WIZARD"></span></a></li>
                <li><a href="#/forms/layouts"><i class="fa fa-caret-right"></i><span data-translate="FORM_LAYOUTS"></span></a></li>
            </ul>
        </li>
       <li>
            <a href="#/charts"><i class="fa fa-bar-chart-o"></i><span data-translate="CHARTS"></span></a>
            <ul>
                <li><a href="#/charts/flot"><i class="fa fa-caret-right"></i>Flot <span data-translate="CHARTS"></span></a></li>
                <li><a href="#/charts/morris"><i class="fa fa-caret-right"></i>Morris <span data-translate="CHARTS"></span></a></li>
                <li><a href="#/charts/charts"><i class="fa fa-caret-right"></i>Other <span data-translate="CHARTS"></span></a></li>
            </ul>
        </li>
        <li class="nav-task">
            <a href="#/app/tasks">
                <i class="fa fa-tasks"></i><span data-translate="TASKS"></span>
            </a>
        </li>        
        <li>
            <a href="#/mail"><i class="fa fa-envelope-o"></i><span data-translate="MAIL"></span></a>
            <ul>
                <li><a href="#/mail/inbox"><i class="fa fa-caret-right"></i><span data-translate="INBOX"></span></a></li>
                <li><a href="#/mail/compose"><i class="fa fa-caret-right"></i><span data-translate="COMPOSE"></span></a></li>
                <li><a href="#/mail/single"><i class="fa fa-caret-right"></i><span data-translate="SINGLE_MAIL"></span></a></li>
            </ul>
        </li> -->
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-translate="DASHBOARD"></span> </a></li>
    </ul>
</div>